/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://img.freepik.com/free-photo/plain-smooth-green-wall-texture_53876-129746.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1715904000&semt=ais_user');
  background-size: cover;
  height: 100vh;
}

/* Container for the app */
.app-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-left: 5%;
}

/* Search bar styles */
/* .search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
} */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.search-bar input {
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #f5f5f5;
  margin-right: 10px;
  width: 300px;
  transition: width 0.3s ease-in-out;
}

.search-bar input:focus {
  width: 350px;
  outline: none;
}

.search-bar button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #1d3247;
}

.logo {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  color: white; /* Blue color */
  text-transform: uppercase;
  
}

/* Image grid styles */
/* .image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
} */

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  justify-content: center; /* Center the grid horizontally */
  padding: 0 20px; /* Add padding on the left and right */
}


/* Image item styles */
.image-item {
  position: relative;
  
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.image-item-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
}

.image-item-details a {
  color: white;
  text-decoration: none;
}

.image-item-details a:hover {
  text-decoration: underline;
}

/* Load more button styles */
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.load-more button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.load-more button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar input,
  .search-bar button {
    width: 100%;
    margin-bottom: 10px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .search-bar input,
  .search-bar button {
    font-size: 14px;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
